<html mxlns:th="http://www.thymeleaaf.org">

<head th:fragment="navFragmentHead">    
    <link href="styles/navigation.css" rel="stylesheet">
</head>

<body>
    <div class="navigation-container rounded-4 shadow-style" th:fragment="navFragment">
        <div class="navigation-box">
            <button class="navigation-button" id="navigation-map-button">지도로 보기</button>
            <div>/</div>
            <button class="navigation-button" id="navigation-calendar-button">분류로 보기</button>
            <div>/</div>
            <button class="navigation-button" id="navigation-bookmark-button">즐겨찾기</button>
        </div>
        <script src="scripts/navigation.js"></script>
    </div>
</body>
</html>