.calendar-container {
    height: 360px;
}

.calendar-select {
    width: 140px;
    margin: auto;
    padding-left: 14px;
    font-weight: bold;
    height: 28px;
}

a { color:#000000;text-decoration:none; }

.scriptCalendar {
    text-align:center;
    margin: 5% auto;
    font-size: 13px;
 }

.scriptCalendar > thead > tr > td {
    width:44px;height:38px;
}

.scriptCalendar > thead > tr:first-child > td {
    font-weight:bold;
}

.scriptCalendar > thead > tr:last-child > td {
    background-color:#bfbfbf;
    font-weight: bold;
}
.scriptCalendar > tbody > tr > td {
    width:44px;height:48px;
}

.calendarBtn {
    cursor:pointer;
}

.event-container-cal {
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    /* min-height: 260px; */
    padding: 20px;
    background-color: #55D462;
    max-width: 980;
    min-height: 50%;
    margin: 11% auto 0;
    justify-content: space-around;
}

.event-box-cal {
    height: 94px;
    width: 67px;
    background-color: white;
    margin: 8px 10px;
}

.event-img-box-cal {
    height: 74px;
    width: 52px;
    background-color: gray;
    margin: 10px 8px;
}