.map-img {
    height: 540px;
    background-color:coral;
}

.event-container {
    display: flex;    
    align-items: center;
    flex-direction: column;

    padding: 14px;
    border: 1px solid black;
    margin-top: -22px;
    height : 260px;
    background-color: white;
    position: fixed;
    bottom: 0;
}

.event-box {
    display: flex;
    width: 328px;
    height : 143px;
    background-color: #ff4141;
    padding: 18px;
    margin-bottom: 20px;
    cursor: pointer;
}

.event-img-box {
    height: 112px;
    min-width: 79px;
    background-color: gray;
}
.event-content-box {
    color: white;
    font-size: 12px;
    align-self: center;
    padding-left: 10px;
}

.event-title-box {
    display: flex;    
}

.event-title {
    font-weight: bold;
    max-height: 36px;
    overflow: hidden;
}

.event-codename {
    opacity: 0.5;
    font-size: 11px;
    min-width: 35px;
    padding: 3px 0 0 1px;
}

.event-fee {
    font-weight: bold;
}