.map-img {
    height: 640px;
    background-color:coral;
}

.event-container {
    display: flex;
    flex-wrap: wrap;
    padding: 14px 40px;
    /* padding-left: 40px; */
    margin: -22px auto;
    /* width: 360px; */
    background-color: white;
    justify-content: center;    
}

.event-box {
    display: flex;
    width: 328px;
    height: 143px;
    background-color: #ff4141;
    padding: 18px;
    margin: 2% 2%;
    cursor: pointer;
    flex: 21%;
    flex-grow: 0;
}

.event-img-box {
    height: 112px;
    min-width: 79px;
    background-color: gray;
}
.event-content-box {
    color: white;
    font-size: 12px;
    align-self: center;
    padding-left: 10px;
    width: 213px;
}

.event-title-box {
    display: flex;    
}

.event-title {
    font-weight: bold;
    max-height: 36px;
    overflow: hidden;
}

.event-codename {
    opacity: 0.5;
    font-size: 11px;
    min-width: 35px;
    padding: 3px 0 0 1px;
}

.event-fee {
    font-weight: bold;
}