<html mxlns:th="http://www.thymeleaaf.org">

<head th:fragment="mapFragmentHead">    
    <head th:replace="~{/basic/navigation :: navFragmentHead}"></head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="styles/common.css" rel="stylesheet">
    <link href="styles/map/map.css" rel="stylesheet">       
</head>

<body>
    <div class="body-style" th:fragment="mapFragment">
        <div th:replace="~{/basic/navigation :: navFragment}"></div>
        <div class="map-img"></div>
        <div class="event-container rounded-top-4">
            <div class="event-box rounded-4 shadow-style">
                <div class="event-img-box"><img class="event-img">이미지</div>
                <div class="event-content-box">
                    <div class="event-title-box">
                        <div class="event-title">제목이 길어지면 어떻게 되는지 테스트를 해보고 있습니다 3줄까지 넘어갈때도 확인중</div>
                        <div class="event-codename">분류</div>
                    </div>
                    <div class="event-place">위치</div>
                    <br>
                    <div class="event-date">날짜</div>
                    <div class="event-fee">요금</div>
                </div>
            </div>
            <div class="event-box rounded-4 shadow-style">
                <div class="event-img-box"><img class="event-img">이미지</div>
                <div class="event-content-box">
                    <div class="event-title-box">
                        <div class="event-title">제목</div>
                        <div class="event-codename">분류</div>
                    </div>
                    <div class="event-place">위치</div>
                    <br>
                    <div class="event-date">날짜</div>
                    <div class="event-fee">요금</div>
                </div>
            </div>
            <div class="event-box rounded-4 shadow-style">
                <div class="event-img-box"><img class="event-img">이미지</div>
                <div class="event-content-box">
                    <div class="event-title-box">
                        <div class="event-title">제목</div>
                        <div class="event-codename">분류</div>
                    </div>
                    <div class="event-place">위치</div>
                    <br>
                    <div class="event-date">날짜</div>
                    <div class="event-fee">요금</div>
                </div>
            </div>
            <div class="event-box rounded-4 shadow-style">
                <div class="event-img-box"><img class="event-img">이미지</div>
                <div class="event-content-box">
                    <div class="event-title-box">
                        <div class="event-title">제목</div>
                        <div class="event-codename">분류</div>
                    </div>
                    <div class="event-place">위치</div>
                    <br>
                    <div class="event-date">날짜</div>
                    <div class="event-fee">요금</div>
                </div>
            </div>
            <div class="event-box rounded-4 shadow-style">
                <div class="event-img-box"><img class="event-img">이미지</div>
                <div class="event-content-box">
                    <div class="event-title-box">
                        <div class="event-title">제목</div>
                        <div class="event-codename">분류</div>
                    </div>
                    <div class="event-place">위치</div>
                    <br>
                    <div class="event-date">날짜</div>
                    <div class="event-fee">요금</div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
        <script src="scripts/map/map.js"></script>
    </div>
</body>

</html>