@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    /* font-family: 'Nanum Gothic', sans-serif; */
    /* font-family: 'Gothic A1', sans-serif; */
    /* font-family: 'Gowun Dodum', sans-serif; */
    /* font-family: 'Poor Story', sans-serif; */
}

.body-style {
    height: 780px;
    width: 100%;
    margin: auto;
    border: 0px solid black;
    transform: translate(0, 0);
}

.shadow-style {
    box-shadow: 4px 4px 5px 0 #3d3d3d;
}

.font24-style {
    font-size: 24px;
}

.font32-style {
    font-size: 32px;
}

.font48-style {
    font-size: 48px;
}

.fontgray-style {
    color:gray;
}

.nav-space {
    background-color: white;
    height: 90px;
}