.navigation-container {
    position: absolute;
    top: 4%;
    left: 30%;
    transform: translate(-20%,0);  
    font-size: 13px;
    padding: 7px;
    z-index: 1;
    background-color: white;
}

.navigation-box {
    display: flex;
}

.navigation-button {
    border: none;
    background-color: unset;
}